<div class="article-container">
  <div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <div class="filter-section  row">
          <div class="col-auto mb-2 mb-sm-0">
            <select class="form-select" (change)="filterArticles($event)">
              <option value="recently" [selected]="selectedFilter === 'recently'">Recent</option>
              <option value="lastDay" [selected]="selectedFilter === 'lastDay'">Last day</option>
              <option value="lastWeek" [selected]="selectedFilter === 'lastWeek'">Last week</option>
              <option value="lastMonth" [selected]="selectedFilter === 'lastMonth'">Last month</option>
            </select>
          </div>
          <div class="col-auto  mb-2 mb-sm-0">
            <button class="btn btn-outline-secondary" type="button" (click)="resetFilters()">Reset Filters</button>
          </div>
          <div class="col">
            <div class="input-group">
              <input #search type="text" class="form-control" placeholder="Search" (keyup.enter)="onSearch()">
              <button *ngIf="!searchActive" class="btn btn-secondary" type="button" (click)="onSearch()">Search</button>
              <button *ngIf="searchActive" class="btn btn-outline-secondary" type="button" (click)="onReset()">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="articles.length === 0" class="container not-found">
      <p class="not-found justify-content-center">No articles found.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6" *ngFor="let article of articles">
        <app-article-cards [article]="article"></app-article-cards>
      </div>
    </div>
  </div>
  <hr class="mt-5">
  <!-- <app-article-paging [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage" [currentPage]="pagination.currentPage" (pageChange)="pageChanged($event)">
  </app-article-paging> -->

  <div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage" [maxSize]="10" [(ngModel)]="pagination.currentPage"
      (pageChanged)="PageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>
</div>