<div class="article-container">
  <div class="container ">
    <div class="filter-section mb-4 d-flex flex-wrap align-items-center">
      <select class="form-select custom-select me-2" (change)="filterArticles($event)">
        <option value="recently" [selected]="selectedFilter === 'recently'">Recent</option>
        <option value="lastWeek" [selected]="selectedFilter === 'lastWeek'">Last week</option>
        <option value="lastMonth" [selected]="selectedFilter === 'lastMonth'">Last month</option>
        <option value="lastDay" [selected]="selectedFilter === 'lastDay'">Last day</option>
      </select>
      <div class="input-group search-input flex-grow-1">

        <button class="btn btn-outline-secondary btn-reset-filters" type="button" (click)="resetFilters()">Reset Filters</button>
      </div>
      <div class="input-group search-input flex-grow-1">
        <input #search type="text" class="form-control" placeholder="Search" (keyup.enter)="onSearch()">
        <button *ngIf="!searchActive" class="btn btn-outline-secondary btn-search" type="button" (click)="onSearch()">Search</button>
        <button *ngIf="searchActive" class="btn btn-outline-secondary btn-reset" type="button" (click)="onReset()">Reset</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" *ngFor="let article of articles">
        <app-article-cards [article]="article"></app-article-cards>
      </div>
    </div>

    <hr class="mt-5">
    <!-- <app-article-paging [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage" [currentPage]="pagination.currentPage" (pageChange)="onPageChange($event)">
    </app-article-paging> -->

  </div>
</div>