.pagination {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 10px;
}

.pagination button {
 padding: 5px 12px;
 border: none;
 background-color: #6c757d;
 cursor: pointer;
 border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -ms-border-radius: 5px;
 -o-border-radius: 5px;
 color: #fff
}
.page-link{
  background-color: #555;
  color:#fff;
  cursor: pointer;
  border: none;
outline:none

}

.page-item.active .page-link {
 background-color: #ea4c89;
 color: white;
}

.pagination button:disabled {
 background-color: #7f919f;
 cursor: not-allowed;
}