<footer class="footer  pt-5 pb-2">
 <div class="container">
  <div class="row">
   <div class="col-md-4">
    <h3>About Us</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio suspendisse leo neque iaculis molestie sagittis maecenas aenean eget molestie sagittis.</p>
    <address>
     <strong>Address</strong><br>
     123 Main Street<br>
     New York, NY 10001<br>
     <abbr title="Phone">Phone:</abbr> (+08) 456 789
    </address>
   </div>
   <div class="col-md-4">
    <h3>Quick links</h3>
    <ul class="list-unstyled">
     <li><a routerLink="/about">About us</a></li>
     <li><a href="#">Help & Support</a></li>
     <li><a href="#">Licensing Policy</a></li>
     <li><a href="#">Refund Policy</a></li>
     <li><a href="#">Hire me</a></li>
     <li><a href="#">Contact</a></li>
    </ul>
   </div>
   <div class="col-md-4">
    <h3>Popular tags</h3>
    <div class="tags">
     <a href="#" class="tag">Beautiful</a>
     <a href="#" class="tag">Fashion</a>
     <a href="#" class="tag">Ultimate</a>
     <a href="#" class="tag">Travel Tips</a>
     <a href="#" class="tag">Fighting</a>
     <a href="#" class="tag">Lifestyle</a>
     <a href="#" class="tag">Technology</a>
     <a href="#" class="tag">New York</a>
     <a href="#" class="tag">Trending</a>
    </div>
   </div>
  </div>
  <h3 class="text-center text-white h1 fw-bolder  mt-3 fs-5">
   <img src="assets/images/logo-updated.png" alt="" width="150">
  </h3>

  <hr>
  <div class="row mt-4">
   <div class="col d-flex justify-content-between">
    <p>© 2021 Flow. Designed by <a href="#">AliThemes</a></p>
    <div class="social-icons">
     <a href="#"><i class="bi bi-facebook"></i></a>
     <a href="#"><i class="bi bi-twitter"></i></a>
     <a href="#"><i class="bi bi-instagram"></i></a>
     <a href="#"><i class="bi bi-pinterest"></i></a>
    </div>
   </div>
  </div>
 </div>
</footer>