<div class="home--profile container  mt-3">
 <div class="row">
  <div class="col-12 col-md-5 ">

   <div class="card home--profile__card w-100  p-4 border-0 ">

    <div>
     <div class="image d-flex justify-content-center">
      <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80">
     </div>

     <div class="mx-3 mt-4 xl-5 ">
      <h4 class="mb-2 mt-0 fw-bold text-center">Alex HMorrision</h4>
      <span class="text-center ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto, repudiandae.</span>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>