nav {
 background-color: #efefeff5;
}

/* Custom Navbar Styles */
.navbar-light .navbar-nav .nav-link {
 color: black;
}

.navbar-light .nav-link:hover {
 color: lightblue;
}

.navbar-light .navbar-nav .nav-link.active {
 color: black;
 /* Keep the active link black */
}

.navbar {
 transition: height 0.3s;
}

@media (min-width: 992px) {
 .navbar {
  height: 70px;
  /* Larger height for large screens */
 }
}

@media (max-width: 991px) {
 .navbar {
  height: 55px;
  /* Smaller height for small screens */
 }
}

/* Responsive Social Links */
.nav-link.social-link a {
 margin-left: 10px;
}

@media (max-width: 575.98px) {
 .navbar-nav {
  text-align: center;
 }

 .navbar-nav .nav-link {
  margin-left: 0;
 }
}