<!-- <nav class="navbar navbar-expand-lg navbar-light container-fluid">
 <div class="container">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
   <div class="navbar-nav">
    <a class="nav-link active" aria-current="page" routerLink="/login">Login</a>
    <a class="nav-link" routerLink="/profile">Features</a>
    <a class="nav-link" href="#">Pricing</a>
    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
   </div>
   <div class="navbar nav-link social-link ms-auto">
    <a href="">
     <i class="bi bi-facebook"></i>
    </a>
    <a href="">
     <i class="bi bi-youtube"></i>
    </a>
    <a href="">
     <i class="bi bi-twitter"></i>
    </a>
   </div>
  </div>
 </div>
</nav> -->


<!-- <nav class="navbar navbar-expand-lg  navbar--blog ">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <i class="fa-solid fa-bars"></i>

    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item" *ngIf="(accountService.currentUser$ | async) as User">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/event">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create">create</a>
        </li>
      </ul>
      <div class="login--action ">
        <button class="btn btn-secondary px-4 login--action__btn me-3" routerLink="/login"> Login </button>
        <button class="btn btn-secondary px-4 login--action__btn" routerLink="/home" (click)="logout()"> logout </button>
      </div>
    </div>
  </div>
</nav> -->