<!-- profile Home section ============= -->

<div class="home--profile container  mt-3">
  <div class="row">
    <div class="col-12 col-md-5 ">

      <div class="card home--profile__card w-100  p-4 border-0" *ngIf="user">

        <div>
          <div class="image d-flex justify-content-center">
            <img [src]="profileImage?.url">
          </div>

          <div class="mx-3 mt-4 xl-5 ">
            <h4 class="mb-2 mt-0 fw-bold text-center">{{user.firstName}}</h4>
            <span class="text-center ">{{user.overview}}</span>
          </div>


        </div>
        <div class="home--profile__card__socials d-flex mt-3 justify-content-center">
          <a href="#"><i class="fa fa-facebook"> </i></a>
          <a href="#"><i class="fa fa-youtube"> </i></a>
          <a href="#"><i class="fa fa-linkedin"> </i></a>
          <a href="#"><i class="fa fa-dribble"> </i></a>

        </div>
      </div>
    </div>
    <div class="col-12 col-md-7 mt-3 mt-sm-0 images--carousel">
      <app-image-carousel></app-image-carousel>

    </div>
  </div>
</div>