<div class="reset-password-container">
 <h2>Reset Password</h2>
 <form [formGroup]="resetRequestForm" *ngIf="!isCodeSent" (ngSubmit)="sendResetCode()">
  <label>Email:</label>
  <input formControlName="email" type="email" />
  <button type="submit">Send Reset Code</button>
 </form>

 <form [formGroup]="resetConfirmForm" *ngIf="isCodeSent" (ngSubmit)="resetPassword()">
  <label>Email:</label>
  <input formControlName="email" type="email" />
  <label>Confirmation Code:</label>
  <input formControlName="code" type="text" />
  <label>New Password:</label>
  <input formControlName="newPassword" type="password" />
  <button type="submit">Reset Password</button>
 </form>
</div>