<div class="article-form-container">
 <h2>{{ articleId ? 'Edit Article' : 'New Article' }}</h2>
 <!-- <form [formGroup]="articleForm" (ngSubmit)="saveArticle()"> -->
 <label>Title:</label>
 <input formControlName="title" type="text" />
 <label>Content:</label>
 <textarea formControlName="content"></textarea>
 <button type="submit">Save</button>
 <!-- </form> -->
 <div *ngIf="articleId">
  <h3>Add Media</h3>
  <label>Image:</label>
  <input type="file" (change)="onFileChange($event, 'image')" />
  <label>Video:</label>
  <input type="file" (change)="onFileChange($event, 'video')" />
  <label>YouTube Video URL:</label>
  <!-- <input type="text" (blur)="addYoutubeVideo($event.target.value)" /> -->
 </div>
</div>