<div class="container mt-5">
 <div class="card">
  <div class="card-header text-center">
   <h4>Your Public Data</h4>
  </div>
  <div class="card-body">
   <div *ngIf="alertMessage" class="alert text-center alert-{{ alertType }}" role="alert">
    {{ alertMessage }}
   </div>
   <form [formGroup]="userForm" (ngSubmit)="updateUser()">
    <div class="form-group">
     <label for="userName">User Name</label>
     <input type="text" id="userName" class="form-control" formControlName="userName">
    </div>
    <div class="form-group input-feild">
     <label for="firstName">First Name</label>
     <input type="text" id="firstName" class="form-control" formControlName="firstName">
    </div>
    <div class="form-group input-feild">
     <label for="lastName">Last Name</label>
     <input type="text" id="lastName" class="form-control" formControlName="lastName">
    </div>
    <div class="form-group input-feild">
     <label for="email">Business Email</label>
     <input type="email" id="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group input-feild">
     <label for="publicEmail">Public Email</label>
     <input type="email" id="publicEmail" class="form-control" formControlName="publicEmail">
    </div>
    <div class="form-group input-feild">
     <label for="publicPhoneNumber">Public Phone Number</label>
     <input type="text" id="publicPhoneNumber" class="form-control" formControlName="publicPhoneNumber">
    </div>
    <div class="form-group input-feild">
     <label for="education">Education</label>
     <input type="text" id="education" class="form-control" formControlName="education">
    </div>
    <div class="form-group input-feild">
     <label for="experience">Experience</label>
     <textarea id="experience" class="form-control" formControlName="experience"></textarea>
    </div>
    <div class="form-group input-feild">
     <label for="position">Position</label>
     <input type="text" id="position" class="form-control" formControlName="position">
    </div>
    <div class="form-group input-feild">
     <label for="overview">Overview</label>
     <textarea id="overview" class="form-control" formControlName="overview"></textarea>
    </div>
    <div class="form-group input-feild">
     <label for="age">Age</label>
     <input type="number" id="age" class="form-control" formControlName="age">
    </div>
    <div class="form-group input-feild">
     <label for="facebookAccount">Facebook Account</label>
     <input type="text" id="facebookAccount" class="form-control" formControlName="facebookAccount">
    </div>
    <div class="form-group input-feild">
     <label for="xAccount">X Account</label>
     <input type="text" id="xAccount" class="form-control" formControlName="xAccount">
    </div>
    <div class="form-group input-feild">
     <label for="youTubeAccount">YouTube Account</label>
     <input type="text" id="youTubeAccount" class="form-control" formControlName="youTubeAccount">
    </div>
    <div class="form-group input-feild">
     <label for="whatsAppAccount">WhatsApp Account</label>
     <input type="text" id="whatsAppAccount" class="form-control" formControlName="whatsAppAccount">
    </div>
    <div class="form-group input-feild">
     <label for="otherAccount">Other Account</label>
     <input type="text" id="otherAccount" class="form-control" formControlName="otherAccount">
    </div>
    <button type="submit" class="btn btn-primary mt-3" [disabled]="userForm.invalid">Update User</button>
   </form>
  </div>
 </div>
</div>