<div class="article-details" *ngIf="article">
 <h1 class="headline">{{ article.headline }}</h1>
 <h2 class="title">{{ article.title }}</h2>
 <div class="slider">
  <div class="slides" [style.transform]="'translateX(-' + currentSlide * 100 + '%)'">
   <ng-container *ngFor="let mediaItem of media">
    <img *ngIf="isImage(mediaItem)" [src]="mediaItem" class="img-fluid" alt="Article media">
    <iframe *ngIf="isYouTube(mediaItem)" [src]="mediaItem" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
     class="youtube-iframe">
    </iframe>
    <video *ngIf="isVideo(mediaItem)" controls class="w-100">
     <source [src]="mediaItem" type="video/mp4">
     Your browser does not support the video tag.
    </video>
   </ng-container>
  </div>
  <button *ngIf="media.length > 1" class="arrow left" (click)="prevSlide()"><fa-icon [icon]="faArrowLeftLong"></fa-icon></button>
  <button *ngIf="media.length > 1" class="arrow right" (click)="nextSlide()"><fa-icon [icon]="faArrowRightLong"></fa-icon></button>
 </div>
 <div class="content">
  <p class="article-content">{{ article.content }}</p>
  <div class="tags-container">
   <span *ngFor="let tag of article.tags" class="badge tag-badge">{{ tag.name }}</span>
  </div>
  <hr>
  <div class="social-share">
   <a>
    <span class="facebook-icon"><i class="fa fa-facebook fa-2x"></i>Share</span>
   </a>
   <p class="publish-date">Published on: {{ article.publishDate | date: 'yyyy-MM-dd' }}</p>

  </div>
 </div>
</div>