.profile-container {
 max-width: 800px;
 margin: 0 auto;
}

.profile-container form {
 display: flex;
 flex-direction: column;
}

.profile-container label {
 margin-top: 10px;
}

.profile-container input,
.profile-container textarea {
 margin-bottom: 10px;
}

.profile-container img {
 width: 100px;
 height: 100px;
 margin: 5px;
 cursor: pointer;
}