<div class="profile-container">
 <h2>Profile</h2>
 <div *ngIf="user">
  <form>
   <label>First Name:</label>
   <input [(ngModel)]="user.firstName" />
   <label>Last Name:</label>
   <input [(ngModel)]="user.lastName" />
   <label>Business Email:</label>
   <input [(ngModel)]="user.businessEmail" />
   <label>Education:</label>
   <input [(ngModel)]="user.education" />
   <label>Experience:</label>
   <input [(ngModel)]="user.experience" />
   <label>Position:</label>
   <input [(ngModel)]="user.position" />
   <label>Overview:</label>
   <textarea [(ngModel)]="user.overview"></textarea>
   <label>Public Phone Number:</label>
   <input [(ngModel)]="user.publicPhoneNumber" />
   <label>Facebook Link:</label>
   <input [(ngModel)]="user.facebookLink" />
   <label>Twitter Link:</label>
   <input [(ngModel)]="user.twitterLink" />
   <label>YouTube Link:</label>
   <input [(ngModel)]="user.youTubeLink" />
   <button type="button" (click)="updateUser()">Update</button>
  </form>
  <app-photo-editor [userId]="user.id" [profileImages]="user.profileImages" [backgroundImages]="user.backgroundImages"></app-photo-editor>
 </div>
</div>