<div class="login-container">
 <h2>Login</h2>
 <form [formGroup]="loginForm" (ngSubmit)="isCodeSent ? confirmLogin() : login()">
  <div *ngIf="!isCodeSent">
   <label>Email:</label>
   <input formControlName="email" type="email" />
   <label>Password:</label>
   <input formControlName="password" type="password" />
  </div>
  <div *ngIf="isCodeSent">
   <label>Confirmation Code:</label>
   <input formControlName="code" type="text" />
  </div>
  <button type="submit">{{ isCodeSent ? 'Confirm Login' : 'Login' }}</button>
 </form>
</div>