.container {
 margin-top: 20px;
}

.reset-form {
 padding: 30px;
 border: 2px solid #ac662e;
 border-radius: 5px;

}

h2 {
 margin-bottom: 20px;
}

.form-control {
 margin-bottom: 10px;
}

.text-danger {
 font-size: 0.8em;
 margin-top: 5px;
}

button[type="submit"] {
 margin-top: 20px;
}

.d-flex {
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.alert {
 margin-bottom: 20px;
}