<div class="container mt-3">
 <div class="row">
  <div class="col-12">
   <div *ngIf="alertMessage" class="alert alert-{{alertType}} alert-dismissible fade show" role="alert">
    {{ alertMessage }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
   <h5 class="mb-3">Profile Images</h5>
   <ngx-dropzone (change)="onSelect($event)">
    <ngx-dropzone-label>Drag and drop your image files here or click to upload</ngx-dropzone-label>
   </ngx-dropzone>
   <div class="d-flex justify-content-between mt-3">
    <button class="btn btn-outline-primary" (click)="uploadFiles()">
     <i class="fa fa-upload me-2"></i>Upload Selected Images
    </button>
   </div>
   <div *ngIf="uploadProgress > 0" class="progress mt-3">
    <div class="progress-bar" role="progressbar" [style.width.%]="uploadProgress" aria-valuenow="uploadProgress" aria-valuemin="0" aria-valuemax="100">
     {{ uploadProgress }}%
    </div>
   </div>
   <div class="row mt-3" *ngIf="profileImages && profileImages.length > 0">
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let image of profileImages">
     <div class="card h-100">
      <img *ngIf="image && image.url" [src]="image.url" class="card-img-top">
      <div class="card-body text-center">
       <div class="btn-group">
        <button class="btn btn-outline-danger btn-sm" (click)="deleteProfileImage(image.id)">
         <i class="fa fa-trash"></i>
        </button>
        <button class="btn btn-outline-dark btn-sm" (click)="setMainProfileImage(image.id)">
         <i class="fa fa-check"></i>
        </button>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>