<div class="container mt-5">
 <div class="card">
  <div class="card-header text-center">
   <h4>Edit your Profile</h4>
  </div>
  <div class="card-body">
   <div class="row">
    <div class="col-lg-4 col-md-6 text-center mb-4">
     <img [src]="profileImageUrl" class="img-fluid rounded-circle profile-image" alt="Profile Picture">
    </div>
    <div class="col-lg-8 col-md-6">
     <tabset>
      <tab heading="Personal">
       <app-user-management></app-user-management>
      </tab>
      <tab heading="Profile">
       <app-profile-images (profileImagesUpdated)="onProfileImagesUpdated()"></app-profile-images>
      </tab>
      <tab heading="Background">
       <app-background-images></app-background-images>
      </tab>
     </tabset>
    </div>
   </div>
  </div>
 </div>
</div>