.container {
 margin-top: 20px;
}

h2 {
 margin-bottom: 20px;
}

.form-control {
 margin-bottom: 10px;
}

.text-danger {
 font-size: 0.8em;
 margin-top: 5px;
}

button {
 margin-top: 8px;
}

button[type="submit"],
button[type="button"] {
 margin-top: 20px;
}

.d-flex {
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.alert {
 margin-bottom: 20px;
}

.button-group {
 display: flex;
 justify-content: center;
 gap: 4px;
 /* Add space between buttons */
}